.numbers{
    text-align: center;
}
.main{
    background:pink;
}
.content{
    height: 1000px;
}



.photo {
    height: 100px;
    background: maroon;
}
.presentation{
    height: 200px;
    background: lightcoral;
}


.qualite{
    height: 100px;
    background: lightblue;
}

.accroche{
    height: 100px;
    background: lightcyan;
}


.autre {
    height: 400px;
    background: mediumaquamarine;
}

.experience{
    background: mediumblue;
    height: 400px;
}

.langue{
    background: magenta;
    height: 100px;
}

.Parti{

}